@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,400,700');
@import url('../css/jquery.fullPage.css');
body {
	font-family: 'Work Sans', sans-serif;
}

#preview {
	background-image: linear-gradient(rgba(0,40,58,.5),rgba(0,40,58,.5)), url('../images/07-03-17.jpg');
	background-position: center center;
	background-size: cover;
}

// #preview::before {
// 	background: pink;
// 	height: 100%; 
// 	width: 100%;
// 	position: absolute;
// 	content: "";
// }
h1 {
	margin: 0; 
	padding: 0;
	color: white;
	font-size: 8rem;
	text-align: center;
	font-weight: 200;

}
@media screen and (max-width: 700px){
	h1 {
		font-size: 6rem;
	}
}

h4 {
	text-transform: uppercase;
	color: rgba(255,255,255,.5);
	font-size: 1rem;
	text-align: center;
	margin: 0;
}
strong {
	font-weight: 700;
}